# https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-ruby
# https://github.com/ruby/setup-ruby

name: Test and lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.4', '3.3', '3.2']

    steps:
      - uses: actions/checkout@v5
      - uses: browser-actions/setup-geckodriver@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - run: geckodriver --version
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby-version }}
      - name: Run rubocop
        run: bundle exec rubocop
      - name: Run Chromium tests
        run: bundle exec rspec
      - name: Run Firefox tests
        run: DRIVER=selenium_headless bundle exec rspec
      - name: Run rack_test tests
        run: DRIVER=rack_test bundle exec rspec
